In [1]:
import sys
sys.path.append('../')
from matplotlib import rcParams
rcParams['font.family'] = 'SimHei'
%matplotlib inline

In [2]:
from datafeed.dataloader import CSVDataloader
data = CSVDataloader.get_df(['000300.SH', #沪深300
                          '000905.SH', #创业板
                        '159915.SZ'
                         ])
data.dropna()

,symbol,date,open,high,close,low,volume
3509,000300.SH,2010-01-04,3592.4680,3597.7480,3535.2290,3535.2290,66101080.0
3509,000905.SH,2010-01-04,4508.9300,4542.7100,4510.5270,4487.3650,51256734.0
3508,000905.SH,2010-01-05,4513.4030,4558.2100,4557.4750,4480.1880,57040745.0
3508,000300.SH,2010-01-05,3545.1860,3577.5260,3564.0380,3497.6610,85809641.0
3507,000905.SH,2010-01-06,4553.3690,4595.1020,4550.2790,4538.7190,57875979.0
...,...,...,...,...,...,...,...
2,000300.SH,2024-06-14,3514.7998,3547.1473,3541.5331,3503.5233,171516942.0
1,000300.SH,2024-06-17,3521.4365,3540.7932,3536.1986,3520.7381,137433438.0
1,000905.SH,2024-06-17,5189.2840,5223.5894,5207.1280,5184.5987,107970664.0
0,000905.SH,2024-06-18,5207.9777,5243.5867,5230.8913,5204.9707,94090903.0
0,000300.SH,2024-06-18,3533.4875,3551.7085,3545.5902,3532.7845,123671838.0

In [5]:
import talib
import pybroker

rsi_20 = pybroker.indicator('rsi_20', lambda data: talib.RSI(data.close, timeperiod=20))
rsi_20(data)

2010-01-04          NaN
2010-01-04          NaN
2010-01-05          NaN
2010-01-05          NaN
2010-01-06          NaN
                ...
2024-06-14    49.419687
2024-06-17    49.412994
2024-06-17    51.575430
2024-06-18    51.606398
2024-06-18    49.254882
Length: 10045, dtype: float64

In [ ]:
def buy_and_hold(ctx):
    if ctx.long_pos():
        return
    ctx.buy_shares = ctx.calc_target_shares(0.3)

from pybroker import Strategy
strategy = Strategy(data, '20100101','20240601')
strategy.add_execution(buy_and_hold, ['000300.SH', '000905.SH','159915.SZ'])
#strategy.add_execution(short_high, ['159915.SZ'])
result = strategy.backtest()
result.orders

In [ ]:
import matplotlib.pyplot as plt

chart = plt.subplot2grid((3, 2), (0, 0), rowspan=3, colspan=2)
chart.plot(result.portfolio.index, result.portfolio['market_value'])

In [ ]:
result.metrics_df